.bash_history
.cache
.cargo
.config
.gnupg
.lesshst
.local/*
.icons
.java
.minecraft
.mozilla
.notebook
.npmrc
.nvidia-settings-rc
.pki
.pulse-cookie
.ssh
.steam
.steampath
.steampid
.themes
.torrc
.var
.viminfo
.win32
.win64
.cups
Desktop
Downloads
Games
Projects
tmp

!.local/bin
