.audacity-data
.bash_history
.cache
.cargo
.config
.cups
.gnupg
.lesshst
.local/*
.local/share/gnome-shell/application_state
.icons
.java
.kodi
.minecraft
.mozilla
.notebook
.npm
.npmrc
.nvidia-settings-rc
.pki
.python_history
.pulse-cookie
.sh_history
.sqlite_history
.ssh
.steam
.steampath
.steampid
.themes
.tiny-media-manager
.torrc
.var
.viminfo
.vscode
.vscode-oss
.wget-hsts
.win32
.win64
BLT
Desktop
Downloads
Games
Notebook
Pictures
Projects
tmp

!.local/bin
