.angular-config.json
.audacity-data
.bash_history
.cache
.cargo
.config/*
!.config/systemd/
!.config/systemd/user/
.config/systemd/user/graphical-session.target.wants
.config/systemd/user/multi-user.target.wants
.cups
.fltk
.gnupg
.lesshst
.local/*
.local/bin/*.AppImage
.local/share/gnome-shell/
.icons
.jackdrc
.java
.joplin
.kodi
.minecraft
.mozilla
.node_repl_history
.notable.json
.notebook
.notion-enhancer
.npm
.npmrc
.nvidia-settings-rc
.pki
.python_history
.pulse-cookie
.putty
.sh_history
.sqlite_history
.ssh
.steam
.steampath
.steampid
.themes
.thunderbird
.tiny-media-manager
.torrc
.var
.viminfo
.vnc
.vscode
.vscode-oss
.wget-hsts
.win32
.win64
.wine
.yarn
.yarnrc
anaconda3
BLT
Desktop
Downloads
Games
Notebook
Pictures
Projects
tmp

!.local/bin
